.categoryList__container{
    display: grid;
    grid-template-columns: 1fr ;
    align-items: start;
    overflow-y: scroll;
    max-height: 250px;

}

.card.cad:hover{
    cursor: pointer;
    background:var(--color-white);
}

.cad > div{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    /* padding-inline: 1rem; */
}

.cad h5{
    line-height: 1.4;
    padding-bottom: 1rem;
}

.cad__icon{
    font-size: 1.2rem;
    color: var(--color-black);
    background: transparent;
}
.card.cad:hover .cad__icon{
    cursor: pointer;
}

.cad__answer{
    margin-top: -3.5rem;
    margin-bottom: 0;
    opacity: 0;
    visibility: collapse;
    animation: animateAnswer 400ms linear forwards;
}
.cad__hide{
    margin-top: 0;
    opacity: 1;
    padding: 0;
    visibility: visible;
    animation: hideAnswer 400ms linear forwards;
    overflow: hidden;
}

@keyframes animateAnswer {
    to{
        opacity: 1;
        margin-top: 1rem;
        visibility: visible;
        height: fit-content;
    }
}
@keyframes hideAnswer {
    to{
        opacity: 0;
        margin-top: -3.5rem;
        visibility: hidden;
        height: 2.5rem;
    }
}

/* Media queries (Tablet)*/
@media only screen and (max-width: 1024px) {
    .cads__container{
        gap:1rem 2rem;
    }
}   
/* Media queries (Phone)*/
@media only screen and (max-width: 600px) {
    .cads__container{
        grid-template-columns:1fr;
        gap:2rem;
    }
} 